
/*  Header & Seccion one*/

@media only screen and (max-width: 767px) {
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
}
/*  Vamos a mostrar un logo diferente en mobile */

.logo-desktop,
.logo-mobile {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 100%;
    height: auto;   }

@media only screen and (min-width: 768px) {
        .logo-desktop {
            display: block;
        }
        .logo-mobile {
            display: none;
        }
    }

@media only screen and (max-width: 767px) {
        .logo-desktop {
            display: none;
        }
        .logo-mobile {
            display: block;
        }
    }


/*  La cabecera se elimina y solo queda en ícono de menú*/

@media only screen and (max-width: 767px) {
    #cabecera {
        display: none; /* Oculta la cabecera en dispositivos móviles */
    }
    .menu-icon {
        display: block; /* Muestra el ícono de menú en dispositivos móviles */
    }
   
}

/*  El search container se centra en la mmitad de la pantalla mobile*/

/*  El títlo, subtitulo y properties buttons se centran en la mitad de la pantalla mobile  */

/*  Si estas en mobile se añade tres líneas en la parte inferior  */


/*  Seccion Sales Home*/

/*  Worlwide & Properties for sale salen primero y se centran a la izquierda en la pantalla mobile*/


/*  En mobile , aparece un párrafo alineado a la izquierda */

/*  En mobile , en la parte superior derecha del párrafo nuevo aparece la fecha  next */

/*  View all properties tiene otro estilo y está a lado izquierdo */

/*  Solo se muestran dos fotos*/


/*  Seccion Rent Home*/


/*  Worlwide & Properties for rent salen primero y se centran a la izquierda en la pantalla mobile*/

/*  En mobile , en la parte superior derecha del párrafo nuevo aparece la fecha  next */

/*  View all properties tiene otro estilo y está a lado izquierdo */

/*  Solo se muestran dos fotos*/


/*  Seccion development*/

/*  aparecen 3 fotos diferentes a las de development desktop */

/*  Aparece una mini secttion  name property y location  con un foto 


/*  Seccion news*/

/*  El logo sale a lado izquierdo y bajo el logo la línea*/

/* Art Curation & content news  salen primero y se centran a la izquierda en la pantalla mobile*/

/*  En mobile , en la parte superior derecha del párrafo nuevo aparece la fecha  next */

