

.logo-desktop {
    width: 100%; 
    max-width: 100%;
    height: auto;   
}


@media screen and (max-width: 767px) {

/* .left-header {
    display: block;
}    */
        #logo-desktop {
            display: none;
}
        #logo-mobile {
            display: block;
        }
    }


/*  La cabecera , el header y social media se elimina y solo queda en ícono de menú*/

@media only screen and (max-width: 767px) {
   
    .menu-icon {
        display: block; /* Muestra el ícono de menú en dispositivos móviles */
    }
    
    #inicio,
    #registro,
    #spanish,
    #english,
    .socialmedia{
        display: none;
    }


}




/*  El títlo, subtitulo y properties buttons se centran en la mitad de la pantalla mobile  */

@media only screen and (max-width: 768px) {
    #subtitle,#title, #button-section-one {
    text-align: center;
    margin: 0 auto;
    }

    #subtitle{
        margin: 0 20% 0 0;
    }    
}

@media only screen and (max-width: 768px) {
    .section-one-container {
    flex-direction: column;
    }

    .search-container {
        margin-right: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
                
        
        }
        
    }


/*  Si estas en mobile se añade tres líneas en la parte inferior  */

@media only screen and (max-width: 768px) {
    .section-one-titulo{
        margin-top: auto;
        margin-bottom: 55px;
    }
        .rect_container{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
    
        .rectangulosmobile{
        background: #d9d9d9;
        width: 30px;
        height: 7px;
        margin: 0 10px 10px 10px;
    }
    }


/*----------------  Seccion Sales Home*------------------------------------------------------------/

/*  Worlwide & Properties for sale salen primero y se centran a la izquierda en la pantalla mobile*/


@media screen and (max-width: 768px) {

    #worldwide-for-sale,
    #property-for-sale{
        margin-left: 0px;
        width: 100%;
    }

    .worldwide-labele,
    .property-type-label{
        text-align: left;
    }

    #sales-home {
        text-align: center;
    }

    .grind-content-home {
        display: flex;
        flex-direction: column-reverse !important; 
        }
    

    .button-prev,
    .button-all-properties{
        display: none;
    }

}
/*  En mobile , aparece un párrafo alineado a la izquierda */

@media  screen and (max-width: 768px) {
    #property-for-sale::after {
    content: "In an ultimate jetsetter location or a forever home, our experts have the expertise it takes to knowledgeably advise you at every stage of the property cycle.";
    display: block;
    margin: 10px auto;
    font-size: 16px;
    text-align: left;
    color: #000;
    font-family: Brandon Grotesque;
    }
}
/*  View all properties tiene otro estilo y está a lado izquierdo */

@media  screen and (max-width: 768px) {
    .button-all-properties {
        border: none; 
        color:#DF991B; 
        text-align: left; 
        width: 100%; 
        margin-top: 10px; 
        align-items: flex-start;
        padding-left: 0px;
    }

    .button-next-mobile{
        display: flex;
        float: right;
        position: relative;
    }

    #gallery-property-for-sale {
        width: 100%;
    }
    
    .image-box{
        width: 65vw;
    }
}


/* --------------------- Seccion Rent Home-------------------------------------------------------------------*/


/*  Worlwide & Properties for rent salen primero y se centran a la izquierda en la pantalla mobile*/



@media screen and (max-width: 768px) {

    #worldwide-for-rent,
    #property-for-rent,
    #content-p-rent{
        margin-left: 0px;
        width: 100%;
    }

    .worldwide-rent-labele,
    .property-rent-label{
        text-align: left;
    }

    #rent-home {
        text-align: center;
    }

    .grind-content-rent-home {
        display: flex;
        flex-direction: column-reverse !important; 
    
    }

}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    #real-rent-desc-home {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #rent-home {
        flex-direction: column;
    }

    #real-rent-desc-home,
    #properties-for-rent-content-home {
        width: 100%; /* para que me ocupe el ancho disponible */
        margin: 0 auto ;/* para que me centra los elementos */
    }
}



/*  En mobile , en la parte superior derecha del párrafo nuevo aparece la fecha  next */
/*YA NO LE PUSE PORQUE TIENE LA MISMA CLASE class="button-next" PARA SECTION SALES AND RENT */


/*  View all properties tiene otro estilo y está a lado izquierdo */
/*YA NO LE PUSE PORQUE TIENE LA MISMA CLASE class="button-all-properties" PARA SECTION SALES AND RENT */


/*  Solo se muestran dos fotos*/
/*YA NO LE PUSE PORQUE TIENE LA MISMA CLASE class="container-one y container- two" PARA SECTION SALES AND RENT */


/*------------------------------------  Seccion development*-------------------------------------------------/

/*  aparecen 3 fotos diferentes a las de development desktop */


@media only screen and (max-width: 767px) {
    #dev-subtitle, #dev-title {
      text-align: left; /* Centrar a la izquierda */
      width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px; 
        width:50%;
        margin: 0 0 0 25% ;
        align-content: 100vw;
        object-fit: cover;
      }
    
    .dev-mobile{
        display: block;
    } 

    .dev-desktop{
        display: none;
    }
    
    }
  /*  ------------------- Seccion news------------------------------------------------------------------------*/

/*  El logo sale a lado izquierdo y bajo el logo la línea , luego Art Curation & content news */

@media  screen and (max-widt:767px){
    #icononews,
    #liner-right-header-footer,
    #services,
    #arte-curation,
    #content-news{
        text-align: left;
        width: 100%
    }

    .news-left,
    .backbox,
    .backbox{
        width: 100%;
        margin-left: 0;
    }
}
/*---------------------------------------------Footer ----------------------------------------*/
@media only screen and (max-width: 600px) {
  
    #footerSeccion1 {
        text-align: center; 
    }

    #miniForm {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #nombreForm,
    #botonregistro {
        margin-bottom: 10px; 
    }

    
    #footerSeccion2 {
        text-align: center; 
    }

    .infofooter {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .infofooter span {
        margin: 5px; 
    }

    #redSocial {
        margin-top: 10px; 
    }

    #redSocial div {
        margin: 5px; 
    }
}
